body {
    background-image: url("../images/image.jpg");
    background-size: cover;
   
}

.Projects{
    height: 70px;
    width: 150px;
    justify-content: space-between;
}

 header {
     text-align: center;
     font-weight: 700px;
     font-size: xx-large;
     
 }  
 
 #upcoming {
     text-align: center;
     border: 3px solid black;
     position: sticky;
}
 

/* Image and styling for buttons */
 .button2{
    padding: 34px 68px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700px;
   
 }

button {
   
    background-image: url("../images/image.jpg");
    background-size: cover;
    padding: 34px 68px;
    font-size: 20px;
    font-weight: 700px;
    
   
}
.project1{
    background-size: contain;
    padding: 34px 68px;
    font-size: 20px;
    font-weight: 700px;
    max-width: 40%;
    height:auto;
}
/*hoving over all buttons*/
button:hover {
    transform: scale(1.15);
    opacity: 0.5;
  }

/* Flex box in use and styling */
.container1{
   display:inline-flex;
    flex-direction: column;
}

p{
    font-size: 30px;
}

h3{
    font-size: 28px;
}

.box1 {
    min-height: 100px;

/*applied flexbox again */

}
.box2 {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    
    
}

/*styling portfolio boxes*/
.coming {
    min-height: 100px;
    padding: 7px 15px;
    width: 150px;
    height: 150px;
    margin: 0 5px;
    
}

.box3 {
min-height: 200px;
}

.box4 {
    min-height: 100px;
}

.box5{
    min-height: 100px;
 }

.box6{
    min-height: 100px;
 }

 ul{
    font-size: 40px;
}
/*centered footer*/
footer{
    text-align: center;
     font-weight: 700px;
     font-size: large;
    
}
/*buttons and boxes should adjust from rows to columns in viewport*/

@media screen and (max-width: 750px) {
    .button2, 
    .box2,
    #me,
    .container1{
               flex-direction: column;
    }
}






